.best__team-container {
	text-align: center;
	padding: 0 1.875em;
	margin-bottom: 100px;
}

.best__team-title {
	color: var(--text-color);
	margin-bottom: 1.0625em;
	font-size: 0.688rem;
	line-height: 0.688em;
	font-weight: 400;
}

.best__team-title span {
	font-weight: 700;
}

.best__team-icons {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.best__team-icons img {
	display: inline-block;
	width: var(--best-team-icons-width);
	height: var(--best-team-icons-height);
	object-fit: cover;
	object-position: center;
}
