.direct-social__container {
	margin-bottom: 56px;
}

.direct-social__inner {
	background-color: var(--direct-social__container-bg-color);
	padding: 2em 0.625em;
	width: 100%;
}

.direct-social__title {
	margin-bottom: 1em;
	color: var(--color-default);
	font-weight: 600;
	font-size: 1.2rem;
	line-height: 1.7em;
	text-align: center;
}

.derict-social__links {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1.5625em;
}

.derict-social__links-inner {
	display: inline-block;
	border-radius: 4px;
	background-color: var(--color-default);
	padding: 0.625em 0.875em;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
}

.derict-social__links-inner__second {
	padding: 0.625em 1.4em;
	padding: 0.625em;
}

.direct-social__links-item {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--direct-social__links-item-color);
	text-decoration: none;
}

.direct-social__links-item--first {
	gap: 0.9375em;
	padding: 0 0.75em;
}

.direct-social__links-item--second {
	gap: 0.3125em;
	padding: 0 0.75em;
}

.direct-social__links-item__text {
	white-space: nowrap;
	text-align: start;
}

.direct-social__links-item__text-description {
	white-space: nowrap;
	margin-bottom: 0.3125em;
	font-size: 0.65rem;
}
