.make-work__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 3.5em;
	padding: 0 1.875em;
}

.make-work__title {
	margin-bottom: 2.5em;
	color: var(--title-color);
	font-weight: 600;
	font-size: 1.125rem;
	line-height: 1.125em;
}

.make-work__info {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(22.5em, 1fr));
	justify-content: center;
	gap: 3em;
	margin-bottom: 2.5em;
}

.make-work__info-item--logo {
	display: inline-block;
	margin-bottom: 1em;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
}

.make-work__info-item--logo img {
	padding: 0.9375em;
	width: var(--make-work__info-item--logo-size);
	height: var(--make-work__info-item--logo-size);
}

.make-work__info-item {
	padding: 0 1.25em;
	text-align: center;
}

.make-work__info-item-fourth {
	display: none;
}

.make-work__info-item-fifth {
	display: none;
}

.make-work__info-item-sixth {
	display: none;
}

.make-work__info-item-first--logo {
	background-color: var(--make-work__info-item-first--logo-bg-color);
}

.make-work__info-item-second--logo {
	background-color: var(--make-work__info-item-second--logo-bg-color);
}

.make-work__info-item-third--logo {
	background-color: var(--make-work__info-item-third--logo-bg-color);
}

.make-work__info-item-fourth--logo {
	background-color: var(--make-work__info-item-fourth--logo-bg-color);
}

.make-work__info-item-fifth--logo {
	background-color: var(--make-work__info-item-fifth--logo-bg-color);
}

.make-work__info-item-sixth--logo {
	background-color: var(--make-work__info-item-sixth--logo-bg-color);
}

.make-work__info-item--title {
	white-space: nowrap;
	margin-bottom: 0.5em;
	color: var(--title-color);
	font-weight: 600;
	font-size: 1.125rem;
	line-height: 1.125em;
}

.make-work__info-item--describition {
	font-size: 0.8rem;
	color: var(--text-color);
	font-weight: 400;
	line-height: 1.5em;
}

.make-work__main-btn {
	border: none;
	border-radius: 0.25em;
	background-color: var(--make-work__main-btn-bg-color);
	padding: 1.125em 5.3125em;
	color: var(--make-work__main-btn-color);
	font-weight: 500;
	white-space: nowrap;
	-webkit-border-radius: 0.25em;
	-moz-border-radius: 0.25em;
	-ms-border-radius: 0.25em;
	-o-border-radius: 0.25em;
}
