.manage__team-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 30px;
}

.manage__team-container__inner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.manage__team-sub {
	margin-bottom: 16px;
}

.manage__team-sub__title {
	display: inline-flex;
	align-items: center;
	border-radius: 100px;
	background-color: var(--sub__title-bg-color);
	padding: 4px 46px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
}

.sub__title {
	display: none;
}

.sub__title-link {
	color: var(--title-color);
	text-decoration: none;
}

.sub__title-link::after {
	margin-right: 4px;
	content: '>';
}

.manager__team-title {
	margin-bottom: 16px;
}

.manager__team-title__main {
	color: var(--title-color);
	font-weight: 600;
	font-size: 2rem;
	line-height: 1em;
	text-align: center;
}

.manage__team-info__describtion {
	margin-bottom: 16px;
	color: var(--text-color);
	font-weight: 400;
	line-height: 1.5em;
	text-align: justify;
}

.manage__team-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
}

.manage__team-form__input__email {
	margin-bottom: 8px;
	padding: 18px 61px;
}

.manage__team-form__button__submit {
	cursor: pointer;
	display: inline-block;
	color: var(--color-default);
	font-weight: 500;
	border: none;
	border-radius: 4px;
	white-space: nowrap;
	transition: transform 0.4s;
	background-color: var(--manage-form-btn-bg-color);
	padding: 18px 122px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-transition: transform 0.4s;
	-moz-transition: transform 0.4s;
	-ms-transition: transform 0.4s;
	-o-transition: transform 0.4s;
}

.manage__team-form__button__submit:hover {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
}

.manage__team-photo {
	width: 100%;
}

.manage__team-photo img {
	width: 100%;
	object-fit: cover;
	object-position: center;
}
