@media (min-width: 576px) {
	html {
		font-size: 20px;
	}

	body header {
		padding: 40px;
	}

	.header__main-logo__menu-buger {
		display: none;
	}

	header .header__main-logo {
		display: inline-block;
		width: auto;
	}

	header .header__main-logo__title {
		width: auto;
	}

	header .header__main-nav__container {
		display: block;
		font-size: 0.8rem;
	}

	.header__main-nav__list {
		display: flex;
		gap: 30px;
	}

	.header__main-nav__list-item {
		list-style: none;
	}

	.header__main-nav__list-item a {
		display: inline-block;
		color: var(--title-color);
		font-weight: 400;
		text-decoration: none;
		white-space: nowrap;
		transition: transform 0.4s;
		-webkit-transition: transform 0.4s;
		-moz-transition: transform 0.4s;
		-ms-transition: transform 0.4s;
		-o-transition: transform 0.4s;
	}

	.header__main-nav__list-item a::after {
		display: inline-block;
		transform: rotate(90deg);
		margin-right: 4px;
		margin-left: 4px;
		content: '>';
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-o-transform: rotate(90deg);
	}

	.header__main-nav__list-item a:hover {
		transform: scale(1.1);
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-ms-transform: scale(1.1);
		-o-transform: scale(1.1);
	}

	header .header__main-links {
		display: inline-block;
	}

	.header__main-links {
		display: flex;
		align-items: center;
		gap: 6px;
	}

	.header__main-links a {
		font-weight: 400;
		font-size: 0.8rem;
		text-decoration: none;
	}

	.header__main-links__log {
		color: var(--title-color);
	}

	.header__main-links__get {
		border-radius: 4px;
		background-color: var(--header-main-link-get-bg-color);
		padding: 16px 24px;
		color: var(--header-main-link-get-color);
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		-ms-border-radius: 4px;
		-o-border-radius: 4px;
	}

	main .manage__team-container {
		padding: 0 40px;
	}

	.manage__team-container .manage__team-sub__title {
		display: flex;
		gap: 8px;
		padding: 0;
	}

	.manage__team-container .sub__title {
		display: block;
		border-radius: 100px;
		background-color: var(--header-sub-t-bg-color);
		padding: 8px 16px;
		color: var(--color-default);
		font-weight: 500;
		-webkit-border-radius: 100px;
		-moz-border-radius: 100px;
		-ms-border-radius: 100px;
		-o-border-radius: 100px;
	}

	.manage__team-info .manage__team-info__describtion {
		text-align: center;
	}

	main .best__team-container {
		padding: 0 40px;
	}

	main .teamline__container {
		padding: 0 40px;
	}

	main .make-work__container {
		padding: 0 40px;
	}

	.make-work__container .make-work__info-item-fourth {
		display: block;
	}

	.make-work__container .make-work__main-btn {
		font-size: 1.5rem;
	}

	main .how-work__container {
		padding: 35px 40px;
	}

	main .customers-work__container {
		padding: 0 40px;
	}

	.customers-work__info-employees {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}

	.customers-work__container .customers-work__info-employees-item {
		flex-direction: row;
		gap: 4px;
	}

	.customers-work__container .customers-work__info-employees-item--logo {
		margin-bottom: 0;
	}

	.customers-work__container .customers-work__info-employees-item--info {
		text-align: start;
	}

	.customers-work__container .customers-work__info-employees-item-first {
		border-top: 4px solid #000;
	}

	.customers-work__container .customers-work__info-employees-item-second {
		display: inline-flex;
	}

	main .direct-social__container {
		padding: 35px 75px;
	}

	.direct-social__container .direct-social__inner {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 30px;
		border-radius: 20px;
		padding: 20px;
		width: auto;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		-ms-border-radius: 20px;
		-o-border-radius: 20px;
	}

	.direct-social__container .derict-social__links {
		flex-direction: row;
	}

	body footer {
		padding: 68px 66px 52px;
	}
}

@media (min-width: 850px) {
	html {
		font-size: 25px;
	}

	body header {
		padding: 45px;
	}

	.manage__team-container .manage__team-container__inner .manage__team-form {
		flex-direction: row;
	}

	.manage__team-form__input__email {
		margin: 0;
		border: 1px solid #e1e5ea;
		border-radius: 4px 0 0 4px;
		padding: 17px 61px;
		-webkit-border-radius: 4px 0 0 4px;
		-moz-border-radius: 4px 0 0 4px;
		-ms-border-radius: 4px 0 0 4px;
		-o-border-radius: 4px 0 0 4px;
	}

	.manage__team-form__button__submit {
		border-radius: 0 4px 4px 0;
		padding: 18px 45px;
		-webkit-border-radius: 0 4px 4px 0;
		-moz-border-radius: 0 4px 4px 0;
		-ms-border-radius: 0 4px 4px 0;
		-o-border-radius: 0 4px 4px 0;
	}

	.make-work__container .make-work__info-item {
		text-align: justify;
	}

	.make-work__container .make-work__info-item-fifth {
		display: block;
	}

	.make-work__container .make-work__info-item-sixth {
		display: block;
	}

	.make-work__container .make-work__main-btn {
		display: none;
	}

	.customers-work__info-employees .customers-work__info-employees-item-third {
		display: inline-flex;
	}
}

@media (min-width: 1100px) {
	body header {
		padding: 40px 200px;
	}
	.manage__team-container .manager__team-title__main {
		font-size: 3rem;
	}

	main .manage__team-container {
		padding: 0 200px;
	}

	main .best__team-container {
		padding: 0 250px;
	}

	main .teamline__container {
		flex-direction: row;
		gap: 40px;
		padding: 61px 168px;
	}

	.teamline__container .teamline__info-item {
		text-align: left;
	}

	.teamline__container .teamline__item-first {
		border-bottom: none;
		border-left: 3px solid var(--teamline0info-active-block-border-color);
		border-radius: 0 10px 10px 0;
		-webkit-border-radius: 0 10px 10px 0;
		-moz-border-radius: 0 10px 10px 0;
		-ms-border-radius: 0 10px 10px 0;
		-o-border-radius: 0 10px 10px 0;
	}

	main .make-work__container {
		padding: 0 168px;
	}

	.make-work__container .make-work__title {
		font-size: 2rem;
	}

	main .how-work__container {
		flex-direction: row-reverse;
		padding: 67px 198px;
	}

	.how-work__container .how-work__logo {
		margin-bottom: 0;
	}

	.how-work__container .how-work__info {
		text-align: left;
	}

	.how-work__container .how-work__info-title {
		padding: 0;
		font-size: 2.5rem;
	}

	main .customers-work__container {
		padding: 0 260px;
	}

	main .customers-work__info .customers-work__info-title {
		font-size: 2rem;
	}

	main .direct-social__container {
		display: flex;
		justify-content: center;
		padding: 0 165px;
		text-align: center;
	}

	.direct-social__container .direct-social__inner {
		flex-direction: row;
	}

	.direct-social__container .direct-social__title {
		max-width: 630px;
		font-size: 2rem;
	}

	body footer {
		padding: 80px 198px;
	}

	footer .footer-content__container {
		flex-direction: row;
		justify-content: space-between;
	}

	footer .footer-contant__arrow {
		display: flex;
		flex-direction: column;
		gap: 24px;
	}

	.footer-content__container .footer-contant__arrow a::after {
		display: none;
	}

	.footer-content__container .footer-contant__company-list {
		display: flex;
		flex-direction: column;
		gap: 24px;
		list-style: none;
	}

	footer .footer-content__container .footer-contant__company-list a {
		font-weight: 400;
		font-size: 0.75rem;
		white-space: nowrap;
	}

	.footer-content__container .footer-contant__support-list {
		display: flex;
		flex-direction: column;
		gap: 24px;
		list-style: none;
	}

	footer .footer-content__container .footer-contant__support-list a {
		font-weight: 400;
		font-size: 0.75rem;
		white-space: nowrap;
	}

	.footer-content__container .footer-contant__legal-list {
		display: flex;
		flex-direction: column;
		gap: 24px;
		list-style: none;
	}

	footer .footer-content__container .footer-contant__legal-list a {
		font-weight: 400;
		font-size: 0.75rem;
		white-space: nowrap;
	}
}
